<!-- Describe task in general -->

<p>
    Перевірте, чи вказаний <code>year</code> є високосним роком. Рік вважається високосним, якщо він ділиться на 4, за винятком років кінця століття, які повинні ділитися на 400. Це означає, що 2000 рік був високосним, хоча 1900 рік таким не був.  
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як використовується:</strong>
    <i>цю функцію можна використовувати у календарях, програмах планування або у будь-якій системі, яка має справу з річними даними.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумова:</strong>
    <ul>
    <li><i>1 &lt;= рік &lt;=<sup>105</sup></i></li>
    </ul>
</p>
